@if (dialogueData$ | async; as dialogue) {
  <h1 class="text-on-surface">{{ dialogue.title }}</h1>
  <p class="mb-5 text-2xl text-on-surface">{{ dialogue.content }}</p>
  <div class="flex justify-center gap-3">
    <button
      type="button"
      (click)="cancel()"
      class="mx-3 h-12 w-20 rounded-2xl border-2 border-primary text-primary"
    >
      <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
    </button>
    <button
      type="button"
      (click)="confirm()"
      class="mx-3 h-12 w-20 rounded-2xl border-2 border-primary text-primary"
    >
      <fa-icon [icon]="['fas', 'check']"></fa-icon>
    </button>
  </div>
} @else {
  <span>Something went wrong</span>
}
