@if (group && timers.length) {
  <!-- parent form group -->
  <div [formGroup]="group">
    <div formArrayName="timers">
      <!-- array start -->
      @for (timerGroup of timersArray.controls; track tIdx; let tIdx = $index) {
        <fieldset class="mb-5 flex gap-3" [formGroup]="timerGroup">
          <div class="flex w-24 flex-1 flex-col">
            <label
              for="name-{{ rnd }}-{{ tIdx }}"
              [ngClass]="{
                'text-red-600':
                  getNameAt(tIdx).invalid &&
                  (getNameAt(tIdx).dirty || getNameAt(tIdx).touched),
              }"
              >Timer name
              @if (
                getNameAt(tIdx).hasError("required") &&
                (getNameAt(tIdx).dirty || getNameAt(tIdx).touched)
              ) {
                <span>*</span>
              }
            </label>
            <input
              type="text"
              formControlName="name"
              id="name-{{ rnd }}-{{ tIdx }}"
            />
          </div>
          @if (isControllerInGroup(timerGroup, "value")) {
            <div class="flex w-24 flex-1 flex-col">
              <label
                for="value-{{ rnd }}-{{ tIdx }}"
                [ngClass]="{
                  'text-red-600':
                    getValueAt(tIdx).invalid &&
                    (getValueAt(tIdx).dirty || getValueAt(tIdx).touched),
                }"
                >Seconds
                @if (
                  getValueAt(tIdx).hasError("required") &&
                  (getValueAt(tIdx).dirty || getValueAt(tIdx).touched)
                ) {
                  <span>*</span>
                } @else if (
                  getValueAt(tIdx).hasError("min") &&
                  (getValueAt(tIdx).dirty || getValueAt(tIdx).touched)
                ) {
                  <span>min is 1</span>
                }
              </label>
              <input
                type="number"
                formControlName="value"
                id="value-{{ rnd }}-{{ tIdx }}"
              />
            </div>
          }

          @if (isControllerInGroup(timerGroup, "timerType")) {
            <div class="flex w-28 flex-1 flex-col">
              <label for="type-{{ rnd }}-{{ tIdx }}">Type</label>
              <select
                id="type-{{ rnd }}-{{ tIdx }}"
                formControlName="timerType"
              >
                @for (opt of timerTypes; track opt.value) {
                  <option [value]="opt.value">{{ opt.label }}</option>
                }
              </select>
            </div>
          }
          <button
            type="button"
            class="h-12 self-end"
            (click)="removeTimer(tIdx)"
          >
          <fa-icon [icon]="['far', 'trash-can']"></fa-icon>

          </button>
        </fieldset>
      }

      <!-- array end -->
    </div>
    <app-add-menu-button
      (onAddItem)="addTimer($event)"
      [acceptAssetTypes]="addMenuTypes"
    ></app-add-menu-button>
  </div>
  <!-- parent form group end -->
}
