<form
  class="mb-5 flex flex-wrap gap-3 overflow-hidden rounded-xl border-2 border-secondary p-2"
  [formGroup]="group"
>
  <ng-content select="div.heading"></ng-content>
  <div class="flex w-24 flex-1 flex-col">
    <label
      for="name-{{ rnd }}-{{ idx }}"
      [ngClass]="{
        'text-red-600': name.invalid && (name.dirty || name.touched),
      }"
      >Name
      @if (name.hasError("required") && (name.dirty || name.touched)) {
        <span>*</span>
      }
    </label>
    <input type="text" formControlName="name" id="name-{{ rnd }}-{{ idx }}" />
  </div>
  @if (isControllerInGroup(group, "value")) {
    <div class="flex w-24 flex-1 flex-col">
      <label
        for="value-{{ rnd }}-{{ idx }}"
        [ngClass]="{
          'text-red-600': value.invalid && (value.dirty || value.touched),
        }"
        >Seconds
        @if (value.hasError("required") && (value.dirty || value.touched)) {
          <span>*</span>
        } @else if (value.hasError("min") && (value.dirty || value.touched)) {
          <span>min is 1</span>
        }
      </label>
      <input
        type="number"
        formControlName="value"
        id="value-{{ rnd }}-{{ idx }}"
      />
    </div>
  }

  @if (isControllerInGroup(group, "timerType")) {
    <div class="flex w-28 flex-1 flex-col">
      <label for="type-{{ rnd }}-{{ idx }}">Type</label>
      <select id="type-{{ rnd }}-{{ idx }}" formControlName="timerType">
        @for (opt of timerTypes; track opt.value) {
          <option [value]="opt.value">{{ opt.label }}</option>
        }
      </select>
    </div>
  }
</form>
