@if (snapshot) {
  <ol
    class="hide-scrollbar flex w-full snap-y flex-col gap-3 overflow-y-auto"
    #container
  >
    @for (item of sequence; track idx; let idx = $index) {
      <li
        class="flex snap-center {{
          item.status === 'current' ? 'bg-secondary' : 'bg-container'
        }}  min-h-28 flex-grow flex-col items-stretch justify-start rounded-2xl px-5 pb-2 relative"
      >
        <div class="flex justify-between py-1">
          <h4 class="font-sans text-xl font-light">
            {{
              item.status === "current"
                ? snapshot.status
                : ("Player." + item.status | translate)
            }}
          </h4>
          <span>x {{ item.remaining }}</span>
        </div>
        <p class="mb-3 flex justify-between text-3xl">
          <span class="overflow-hidden text-ellipsis whitespace-nowrap">{{
            item.name
          }}</span>
          <span>
            {{
              item.status === "current"
                ? item.timerType === "hybrid" ||
                  item.timerType === "converted" ||
                  item.timerType === "stopwatch"
                  ? (this.snapshot.stopWatchMs | timeStr)
                  : (this.snapshot.currentMs | timeStr)
                : (item.value | timeStr)
            }}
          </span>
        </p>
        @if (item.timerType !== "countdown") {
          <div
            class="absolute inset-0 flex content-center items-center justify-center"
          >
            @if (item.status === "current") {
              <div
                class="one flex h-14 w-14 content-center justify-center rounded-full bg-secondary"
              >
                <button
                  type="button"
                  [class.text-surface]="snapshot.state === 'playing'"
                  [class.text-container]="snapshot.state !== 'playing'"
                  [disabled]="snapshot.state !== 'playing'"
                  (click)="stopwatchStop()"
                >
                  <fa-icon
                    [icon]="['fas', 'circle-stop']"
                    class="text-5xl"
                  ></fa-icon>
                </button>
              </div>
            } @else {
              <div
                class="two flex h-14 w-14 content-center justify-center rounded-full bg-container"
              >
                <button type="button">
                  <fa-icon
                    [icon]="['fas', 'stopwatch']"
                    class="text-5xl"
                  ></fa-icon>
                </button>
              </div>
            }
          </div>
        }
        @if (item.status === "current" && item.timerType === "countdown") {
          <input
            class="slider accent-secondary outline-container"
            type="range"
            step="0.004"
            (change)="updateCureentStep()"
            [(ngModel)]="snapshot.currentStepProgress"
          />
        }
      </li>
    }
  </ol>
} @else {
  <div class="flex h-full w-full items-center justify-center">
    <h2>no elements</h2>
  </div>
}
