<form class="mb-2">
  @switch (playableType) {
    @case ("set") {
      <app-set-form #submit [set]="set" [setForm]="form">
        <app-timers-form-array
          [group]="form"
          [timers]="set.timers"
        ></app-timers-form-array>
      </app-set-form>
    }
    @case ("super-set") {
      <app-super-set-form #submit [super-set]="superSet" [supersetForm]="form">
      </app-super-set-form>
    }
    @case ("countdown") {
      <div class="flex w-full flex-col items-center justify-start px-2 pt-5">
        <app-timer-form [idx]="0" [group]="form" [timer]="timer" #submit>
        </app-timer-form>
      </div>
    }

    @case ("stopwatch") {
      <div class="flex w-full flex-col items-center justify-start px-2 pt-5">
        <app-timer-form [idx]="0" [group]="form" [timer]="timer" #submit>
        </app-timer-form>
      </div>
    }
  }
</form>
<div class="justify-centr sticky bottom-0 flex flex-col items-center text-4xl">
  <div
    class="mb-2 flex flex-grow items-center justify-center rounded-2xl bg-surface py-2 text-primary"
  >
    <button
      type="button"
      (click)="discard()"
      class="mx-3 h-12 w-20 rounded-2xl border-2 border-primary"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
    <button
      [ngClass]="{
        'border-container text-container': form.touched && form.invalid,
      }"
      type="button"
      (click)="submit()"
      class="mx-3 h-12 w-20 rounded-2xl border-2 border-primary"
    >
      <i class="fa-solid fa-check"></i>
    </button>
    <button
      [routerLink]="['/player', playable.id]"
      type="button"
      class="mx-3 h-12 w-20 rounded-2xl border-2 border-primary"
    >
      <i class="fa-solid fa-play"></i>
    </button>
  </div>
</div>
