<form
  class="flex flex-wrap justify-center gap-3 text-on-surface-dim"
  [formGroup]="setForm"
>
  <ng-content select="div.heading"></ng-content>
  <div class="flex min-w-32 flex-1 grow-3 flex-col">
    <label
      for="set-name-{{ rnd }}"
      [ngClass]="{
        'text-red-600': name.invalid && (name.dirty || name.touched),
      }"
      >Name
      @if (name.hasError("required") && (name.dirty || name.touched)) {
        <span>*</span>
      }
    </label>
    <input
      class="w-full"
      type="text"
      formControlName="name"
      id="set-name-{{ rnd }}"
    />
  </div>
  <div class="reps mb-6 flex min-w-5 flex-1 flex-col">
    <label
      for="set-repetitions-{{ rnd }}"
      [ngClass]="{
        'text-red-600':
          repetitions.invalid && (repetitions.dirty || repetitions.touched),
      }"
      >Reps
      @if (
        repetitions.hasError("required") &&
        (repetitions.dirty || repetitions.touched)
      ) {
        <span>*</span>
      } @else if (
        repetitions.hasError("min") &&
        (repetitions.dirty || repetitions.touched)
      ) {
        <span>min is 1</span>
      }
    </label>
    <input
      class="w-full"
      type="number"
      step="1"
      formControlName="repetitions"
      id="set-repetitions-{{ rnd }}"
    />
  </div>

  <ng-content select="app-timers-form-array"></ng-content>
</form>
