<form
  class="flex flex-wrap justify-center gap-3 text-container"
  [formGroup]="setForm"
>
  <ng-content select="div.heading"></ng-content>
  <div class="flex min-w-32 flex-1 grow-4 flex-col">
    <label for="set-name-{{ rnd }}">Name</label>
    <input
      class="w-full"
      type="text"
      formControlName="name"
      id="set-name-{{ rnd }}"
    />
  </div>
  <div class="reps mb-6 flex min-w-3 flex-1 flex-col">
    <label for="set-repetitions-{{ rnd }}">Reps</label>
    <input
      class="w-full"
      type="number"
      step="1"
      formControlName="repetitions"
      id="set-repetitions-{{ rnd }}"
    />
  </div>

  <ng-content select="app-timers-form-array"></ng-content>
</form>
