<div
  class="side-panel-portrait z-10 flex h-full min-w-80 flex-col bg-container text-xl text-on-container"
  data-theme="dark"
  [ngClass]="{
    'slide-in-left': isPanelVisible,
    'slide-out-left': !isPanelVisible,
  }"
>
  <div class="app-info text-on-primary">
    <h1>{{ title }}</h1>
    <div class="app-info__version">{{ version }}</div>
  </div>
  <nav class="overflow-y-auto">
    @if (playerPlayable$ | async; as playable) {
      <div
        (click)="editCurrentlyPlaying(playable)"
        class="flex w-full cursor-pointer items-center rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      >
        <div class="w-fulld flex flex-col">
          <h6 class="text-on-surface-dim">
            {{
              "NavPanel.Tweak"
                | translate: { playable: getCurrentlyPlayingType(playable) }
            }}
          </h6>
          <button class="flex gap-3">
            <fa-icon [icon]="['far', 'pen-to-square']"></fa-icon>
            <p class="max-w-56 overflow-hidden text-ellipsis whitespace-nowrap">
              {{ playable.name }}
            </p>
          </button>
        </div>
      </div>
    }

    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      routerLink="playable"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <fa-icon [icon]="['fas', 'list-ul']"></fa-icon
      >{{ "NavPanel.Playlist" | translate }}
    </a>
    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      routerLink="report"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <fa-icon [icon]="['fas', 'chart-pie']"></fa-icon
      >{{ "NavPanel.Reports" | translate }}
    </a>

    <a
      (click)="toggleSidePanel()"
      routerLinkActive="bg-secondary on-bg-secondary"
      routerLink="settings"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <fa-icon [icon]="['fas', 'gear']"></fa-icon
      >{{ "NavPanel.Settings" | translate }}
    </a>

    <h3>{{ "NavPanel.Create" | translate }}</h3>
    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      (click)="navigate(['create', 'set'])"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <fa-icon [icon]="['fas', 'bars']"></fa-icon
      >{{ "NavPanel.Set" | translate }}
    </a>

    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      (click)="navigate(['create', 'superset'])"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <fa-icon [icon]="['fas', 'superpowers']"></fa-icon>
      {{ "NavPanel.Superset" | translate }}
    </a>

    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      (click)="navigate(['create', 'countdown'])"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <fa-icon [icon]="['fas', 'hourglass-start']"></fa-icon
      >{{ "NavPanel.Countdown" | translate }}
    </a>
    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      (click)="navigate(['create', 'stopwatch'])"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon
      >{{ "NavPanel.Stopwatch" | translate }}
    </a>
  </nav>
</div>

@if (isPanelVisible && !isPushMode) {
  <div
    class="absolute inset-0 z-[1] backdrop-blur-sm"
    (click)="toggleSidePanel()"
  ></div>
}

<div
  class="absolute z-0 overflow-hidden"
  [ngClass]="{
    'inset-0': !isPanelVisible || (isPanelVisible && !isPushMode),
    'bottom-0 left-80 right-0 top-0': isPushMode && isPanelVisible,
  }"
>
  <div class="heading flex h-14 justify-between xl:h-20">
    <div class="ml-4 flex items-center justify-center gap-2">
      <button
        type="button"
        (click)="toggleSidePanel()"
        class="bttn flex h-11 w-11 items-center justify-center gap-2 rounded-md"
      >
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
      <button
        class="bttn flex h-11 w-11 items-center justify-center gap-2 rounded-md"
        *ngIf="wakelockService.isSupported() && isPlayer()"
        type="button"
        (click)="toggleWakelock()"
      >
        @if (wakelockService.isLocked()) {
          <fa-icon [icon]="['fas', 'mug-hot']"></fa-icon>
        } @else {
          <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
        }
      </button>
    </div>

    <div class="mr-4 flex items-center justify-center gap-2">
      <button
        *ngIf="isPlayer()"
        (click)="playerStop()"
        type="button"
        class="bttn flex h-11 w-11 items-center justify-center rounded-md"
      >
        <fa-icon [icon]="['fas', 'arrow-rotate-right']"></fa-icon>
      </button>
    </div>
  </div>
  <div
    class="outlet-wrapper h-[calc(100dvh-theme(height.14))] w-full overflow-y-auto xl:h-[calc(100dvh-theme(height.20))]"
  >
    <router-outlet />
  </div>
</div>

@if (dialogueService.dialogue$ | async) {
  <app-modal-container>
    <app-modal-dialogue></app-modal-dialogue>
  </app-modal-container>
}
