<div
  class="side-panel-portrait"
  [ngClass]="{ 'slide-in-left ': isPanelVisible }"
>
  <div class="app-info">
    <h1>{{ title }}</h1>
    <div class="app-info__version">{{ version }}</div>
  </div>
  <nav>
    <button type="button" routerLink="/settings">
      <i class="fa-solid fa-gear"></i>settings
    </button>
    <button type="button" routerLink="/playable">
      <i class="fa-solid fa-list-ul"></i>playable
    </button>
  </nav>
</div>
<div class="main-view">
  <div class="heading">
    <i class="fa-solid fa-bars" (click)="openSidePanel()"></i>

    <h1>{{ title }}</h1>
  </div>
  <router-outlet />
</div>
