:host {
  display: flex;
  height: 100%;
  width: 100%;
  @apply overflow-hidden;
}

.app-info {
  @apply bg-primary pl-6 pt-6;
  height: 150px;
}
nav {
  @apply flex flex-col items-start gap-3 pl-6 pt-6;
}
.main-view {
  width: 100%;
}
.heading {
  @apply sticky flex flex-auto items-center gap-5 shadow-md;
}
.outlet-wrapper {
  @apply m-0 p-0;
}
.side-panel-portrait {
  transition: translate 0.3s;
  translate: -350px;
  /*transition-behavior: allow-discrete;*/
}
.fading {
  transition: transform 0.8s;
  transform: perspective(300px) translateZ(-3px) translateX(4px);
}

.slide-in-left {
  translate: 0;
  opacity: 1;
  @starting-style {
  }
}
