<div
  class="side-panel-portrait z-10 flex h-full min-w-80 flex-col bg-container text-xl text-on-container"
  [ngClass]="{
    'slide-in-left': isPanelVisible,
    'slide-out-left': !isPanelVisible,
  }"
>
  <div class="app-info text-on-primary">
    <h1>{{ title }}</h1>
    <div class="app-info__version">{{ version }}</div>
  </div>
  <nav class="overflow-y-auto">
    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      routerLink="playable"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <i class="fa-solid fa-list-ul"></i>playable
    </a>
    <a
      (click)="toggleSidePanel()"
      routerLinkActive="bg-secondary on-bg-secondary"
      routerLink="settings"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <i class="fa-solid fa-gear"></i>settings
    </a>

    <h3>Create</h3>
    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      (click)="navigate(['create', 'set'])"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <i class="fa-solid fa-bars"></i>Set
    </a>

    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      (click)="navigate(['create', 'super-set'])"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <i class="fa-brands fa-web-awesome"></i>Super Set
    </a>

    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      (click)="navigate(['create', 'countdown'])"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <i class="fa-solid fa-hourglass-start"></i>Countdown
    </a>
    <a
      (click)="toggleSidePanel()"
      someStringProperty
      routerLinkActive="bg-secondary"
      (click)="navigate(['create', 'stopwatch'])"
      class="flex w-full items-center gap-3 rounded-l-lg from-purple-500 via-fuchsia-600 via-purple-400 to-purple-800 p-4 hover:bg-gradient-to-br"
      ariaCurrentWhenActive="page"
    >
      <i class="fa-solid fa-stopwatch"></i>Stopwatch
    </a>
  </nav>
</div>

@if (isPanelVisible && !isPushMode) {
  <div
    class="absolute inset-0 z-[1] backdrop-blur-sm"
    (click)="toggleSidePanel()"
  ></div>
}

<div
  class="absolute z-0 overflow-hidden"
  [ngClass]="{
    'inset-0': !isPanelVisible || (isPanelVisible && !isPushMode),
    'bottom-0 left-80 right-0 top-0': isPushMode && isPanelVisible,
  }"
>
  <div class="heading flex h-14 justify-between xl:h-20">
    <button type="button" (click)="toggleSidePanel()" class="p-5">
      <i class="fa-solid fa-bars"></i>
    </button>

    <button
      class="mr-4 flex gap-2 rounded-md border-2 border-secondary p-2"
      *ngIf="wakelockService.isSupported()"
      type="button"
      (click)="toggleWakelock()"
    >
      <i
        class="fa-solid {{
          wakelockService.isLocked() ? 'fa-eye' : 'fa-eye-slash'
        }}"
      ></i>
      <i class="fa-solid fa-display"></i>
    </button>

    <!-- <h1>{{ title }}</h1> -->
    <button *ngIf="isPlayer" (click)="playerStop()" type="button" class="p-5">
      <i class="fa-solid fa-circle-stop"></i>
    </button>
  </div>
  <div
    class="outlet-wrapper h-[calc(100dvh-theme(height.14))] w-full overflow-y-auto xl:h-[calc(100dvh-theme(height.20))]"
  >
    <router-outlet />
  </div>
</div>
