<form
  onsubmit="return false"
  class="mx-2 my-6 flex h-20 items-center justify-between rounded-md bg-secondary py-8"
>
  <button type="button" class="mx-4 text-on-primary">
    <i class="fa-solid fa-filter"></i>
  </button>
  <input
    type="text"
    name="filter"
    [formControl]="filter"
    (keydown)="find($event)"
    class="h-14 w-8/12 flex-auto rounded-md bg-surface px-4 text-xl selection:bg-primary selection:text-on-primary"
  />
  <button type="button" class="mx-4 text-on-primary" (click)="find()">
    <i class="fa-solid fa-search"></i>
  </button>
  @if (filter.value) {
    <button
      type="button"
      class="absolute right-16 mx-4 text-primary"
      (click)="filter.setValue('')"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  }
</form>
<ol class="scrollbar flex w-full flex-col gap-3 p-2">
  @if (data | async; as playable) {
    @for (
      item of playable | filter: filter.value;
      track item.name;
      let idx = $index
    ) {
      <li
        class="flex h-28 flex-none items-center justify-between rounded-md bg-container px-5"
      >
        <div class="flex items-center gap-3">
          @switch (item.playableType) {
            @case (types.Stopwatch) {
              <i class="fa-solid fa-stopwatch"></i>
            }
            @case (types.Countdown) {
              <i class="fa-solid fa-hourglass-start"></i>
            }

            @case (types.Set) {
              <i class="fa-solid fa-bars"></i>
            }
            @case (types.Superset) {
              <i class="fa-brands fa-web-awesome"></i>
            }
          }
          <span>{{ item.name }}</span>
        </div>
        <div class="flex items-center gap-2">
          @if (visibleIdx === idx) {
            <div class="flex gap-4">
              <a [routerLink]="['/player', item.id]"
                ><i class="fa-solid fa-play"></i
              ></a>
              <a [routerLink]="['/edit', item.playableType, item.id]"
                ><i class="fa-regular fa-pen-to-square"></i
              ></a>
              <button type="button">
                <i
                  class="fa-regular fa-trash-can"
                  (click)="remove(item.id)"
                ></i>
              </button>
            </div>
          }
          <button
            type="button"
            (click)="toggleItemMenu(idx)"
            class="h-10 w-10 rounded-md"
          >
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
        </div>
      </li>
    } @empty {
      <li>Nothing found.</li>
    }
  } @else {
    <li>There are no items.</li>
  }
</ol>
