<form
  onsubmit="return false"
  class="mx-2 my-6 flex h-20 items-center justify-between rounded-md bg-secondary py-8"
>
  <button type="button" class="mx-4 text-on-primary">
    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
  </button>
  <input
    type="text"
    name="filter"
    [formControl]="filter"
    (keydown)="find($event)"
    class="h-14 w-8/12 flex-auto rounded-md bg-surface px-4 text-xl selection:bg-primary selection:text-on-primary"
  />
  <button type="button" class="mx-4 text-on-primary" (click)="find()">
    <fa-icon [icon]="['fas', 'search']"></fa-icon>
  </button>
  @if (filter.value) {
    <button
      type="button"
      class="absolute right-16 mx-4 text-primary"
      (click)="filter.setValue('')"
    >
      <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
    </button>
  }
</form>
<ol class="scrollbar flex w-full flex-col gap-3 p-2">
  @if (data | async; as playable) {
    @for (
      item of playable | filter: filter.value;
      track item.name;
      let idx = $index
    ) {
      <li
        class="flex h-28 flex-none items-center justify-between rounded-md bg-container px-5"
      >
        <div class="flex items-center gap-3">
          @switch (item.playableType) {
            @case ("stopwatch") {
              <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
            }
            @case ("countdown") {
              <fa-icon [icon]="['fas', 'hourglass-start']"></fa-icon>
            }

            @case ("set") {
              <fa-icon [icon]="['fas', 'bars']"></fa-icon>
            }
            @case ("superset") {
              <fa-icon [icon]="['fas', 'superpowers']"></fa-icon>
            }
          }
          <span
            class="max-h-20 max-w-32 overflow-hidden text-ellipsis whitespace-nowrap"
            >{{ item.name }}</span
          >
        </div>
        <div class="flex items-center gap-2">
          @if (visibleIdx === idx) {
            <div class="flex">
              <button
                class="h-10 w-10 rounded-md"
                [routerLink]="['/player', item.id]"
              >
                <fa-icon [icon]="['fas', 'play']"></fa-icon>
              </button>
              <button
                [routerLink]="['/edit', item.playableType, item.id]"
                class="h-10 w-10 rounded-md"
              >
                <fa-icon [icon]="['far', 'pen-to-square']"></fa-icon>
              </button>
              <button
                type="button"
                class="h-10 w-10 rounded-md"
                (click)="remove(item)"
              >
                <fa-icon [icon]="['far', 'trash-can']"></fa-icon>
              </button>
              <button
                type="button"
                class="h-10 w-10 rounded-md"
                (click)="export(item)"
              >
                <fa-icon [icon]="['fas', 'file-arrow-down']"></fa-icon>
              </button>
            </div>
          }
          <button
            type="button"
            (click)="toggleItemMenu(idx)"
            class="h-10 w-10 rounded-md"
          >
            <fa-icon [icon]="['fas', 'ellipsis-vertical']"></fa-icon>
          </button>
        </div>
      </li>
    } @empty {
      <li>Nothing found.</li>
    }
  } @else {
    <li>There are no items.</li>
  }
</ol>
