<form
  class="flex flex-col justify-center gap-3 text-on-surface-dim"
  [formGroup]="supersetForm"
>
  <div class="flex gap-3">
    <div class="flex min-w-32 flex-1 grow-3 flex-col">
      <label
        for="set-name"
        [ngClass]="{
          'text-red-600': name.invalid && (name.dirty || name.touched),
        }"
        >{{ "Editor.SupersetName" | translate }}
        @if (name.hasError("required") && (name.dirty || name.touched)) {
          <span>*</span>
        }
      </label>
      <input class="w-full" type="text" formControlName="name" id="set-name" />
    </div>
    <div class="reps mb-6 flex min-w-5 flex-1 flex-col">
      <label
        for="set-repetitions"
        [ngClass]="{
          'text-red-600':
            repetitions.invalid && (repetitions.dirty || repetitions.touched),
        }"
        >{{ "Editor.Reps" | translate }}
        @if (
          repetitions.hasError("required") &&
          (repetitions.dirty || repetitions.touched)
        ) {
          <span>*</span>
        } @else if (
          repetitions.hasError("min") &&
          (repetitions.dirty || repetitions.touched)
        ) {
          <span>{{ "Editor.MinIsOne" | translate }}</span>
        }
      </label>
      <input
        class="w-full"
        type="number"
        step="1"
        formControlName="repetitions"
        id="set-repetitions"
      />
    </div>
  </div>
  <div formArrayName="setsAndTimers">
    @for (
      stGroup of setsAndTimersArray.controls;
      track stIdx;
      let stIdx = $index
    ) {
      @if (getIsSet(stIdx)) {
        <app-set-form
          class="mb-5 overflow-hidden rounded-xl border-2 border-secondary p-2"
          #submit
          [set]="getSetMeta(stIdx)"
          [setForm]="stGroup"
        >
          <div
            class="heading heading -mx-2 -mt-5 flex w-full flex-shrink flex-grow items-center justify-between bg-container pl-4 text-on-container"
          >
            #{{ stIdx + 1 }}
            <h3>{{ "Editor.Set" | translate }}</h3>
            <button
              type="button"
              class="h-12 w-14 self-end"
              (click)="removeItem(stIdx)"
            >
              <fa-icon [icon]="['fas', 'rectangle-xmark']"></fa-icon>
            </button>
          </div>

          <app-timers-form-array
            [group]="stGroup"
            [timers]="getSetMeta(stIdx).timers"
          ></app-timers-form-array>
        </app-set-form>
      } @else {
        <app-timer-form
          [idx]="stIdx"
          [group]="stGroup"
          [timer]="getTimersMeta(stIdx)"
        >
          <div
            class="heading heading -mx-2 -mt-2 flex w-full flex-shrink flex-grow items-center justify-between bg-container pl-4 text-on-container"
          >
            #{{ stIdx + 1 }}
            <h3>{{ "Editor.Timer" | translate }}</h3>
            <button
              type="button"
              class="h-12 w-14 self-end"
              (click)="removeItem(stIdx)"
            >
              <fa-icon [icon]="['fas', 'rectangle-xmark']"></fa-icon>
            </button>
          </div>
        </app-timer-form>
      }
    }
  </div>

  <app-add-menu-button
    (onAddItem)="addTimer($event)"
    [acceptAssetTypes]="addMenuTypes"
  ></app-add-menu-button>
</form>
