/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*color scheme*/
    --surface-dark: 278deg 14% 15%;
    --surface-light: 55deg 100% 95%;

    --on-surface-dark: 278deg 37% 84%;
    --on-surface-light: 278deg 14% 15%;

    --on-surface-dim-dark: 279deg 14% 30%;
    --on-surface-dim-light: 54deg 23% 67%;

    /*--improved-dark-primary: #af7f59;*/
    --primary-dark: 43deg 26% 55%;
    --primary-light: 13deg 61% 27%;

    --secondary-dark: 275deg 25% 47%;
    --secondary-light: 279deg 76% 68%;

    --on-primary-dark: 40deg 23% 18%;
    --on-primary-light: 42deg 100% 91%;

    --on-secondary-dark: 278deg 14% 15%;
    --on-secondary-light: 278deg 14% 15%;

    --container-dark: 279deg 8% 33%;
    --container-light: 54deg 67% 85%;

    --on-container-dark: 282deg 20% 10%;
    --on-container-light: 278deg 14% 15%;

    --on-container-dim-dark: 282deg 16% 23%;
    --on-container-dim-light: 13deg 14% 55%;

    body.dark {
      --surface: var(--surface-dark);
      --on-surface: var(--on-surface-dark);
      --on-surface-dim: var(--on-surface-dim-dark);

      --primary: var(--primary-dark);
      --on-primary: var(--on-primary-dark);

      --secondary: var(--secondary-dark);
      --on-secondary: var(--on-secondary-dark);

      --container: var(--container-dark);
      --on-container: var(--on-container-dark);
      --on-container-dim: var(--on-container-dim-dark);
    }
    body.light {
      --surface: var(--surface-light);
      --on-surface: var(--on-surface-light);
      --on-surface-dim: var(--on-surface-dim-light);

      --primary: var(--primary-light);
      --on-primary: var(--on-primary-light);

      --secondary: var(--secondary-light);
      --on-secondary: var(--on-secondary-light);

      --container: var(--container-light);
      --on-container: var(--on-container-light);
      --on-container-dim: var(--on-container-dim-light);
    }
  }

  html,
  body {
    @apply m-0 h-dvh w-dvw overflow-hidden;

    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;

    /*app-set-form select,*/
    /*app-set-form input[type="text"],*/
    /*app-set-form input[type="number"] {*/
    /*  @apply h-12 rounded-md border-secondary bg-container text-2xl text-on-container;*/
    /*}*/
    input[type="text"],
    input[type="number"] {
      @apply focus:border-secondary focus:ring-0;
    }

    app-editor select,
    app-settings select,
    app-settings input[type="text"],
    app-settings input[type="number"],
    app-editor input[type="text"],
    app-editor input[type="number"] {
      @apply h-12 rounded-none border-b-2 border-l-0 border-r-0 border-t-0 border-secondary bg-surface from-container to-surface text-2xl text-on-surface focus:border-secondary focus:ring-0;
    }
    app-editor input[type="text"],
    app-editor input[type="number"] {
      @apply focus:rounded-xl focus:bg-gradient-to-t;
    }
    ::selection {
      @apply bg-primary text-surface;
    }
    ::-webkit-scrollbar {
      @apply w-2;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-md bg-primary;
    }

    ::-webkit-scrollbar-track {
      @apply bg-surface;
    }

    .hide-scrollbar::-webkit-scrollbar {
      @apply w-0;
    }
    .bttn {
      @apply bg-gradient-to-tr from-container to-surface hover:bg-gradient-to-bl;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-serif font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }
}
