@if (settingsService.config) {
  <form [formGroup]="settingsForm">
    @for (category of categories; let idc = $index; track idc) {
      <section class="m-7 flex flex-col content-stretch justify-start">
        <h2 class="mb-4">{{ "Settings." + category | translate }}</h2>
        @for (
          point of settingsService.config | categoryFilter: category;
          let idx = $index;
          track idx
        ) {
          <div
            #label
            class="hidden text-lg italic text-on-surface-dim"
            [ngClass]="{
              'text-red-600':
                settingsForm.get(point.id)?.invalid &&
                (settingsForm.get(point.id)?.dirty ||
                  settingsForm.get(point.id)?.touched),
            }"
          >
            {{ point.description }}
            @if (
              settingsForm.get(point.id)?.dirty ||
              settingsForm.get(point.id)?.touched
            ) {
              @if (settingsForm.get(point.id)?.hasError("required")) {
                <span>*</span>
              } @else if (settingsForm.get(point.id)?.hasError("min")) {
                <span>(Negative values are not allowed)</span>
              }
            }
          </div>

          <div
            class="mb-7 flex flex-wrap items-center justify-between rounded-b"
          >
            <p
              class="flex cursor-pointer items-center justify-center text-on-surface-dim"
              (click)="
                label.style.display =
                  label.style.display === 'block' ? 'none' : 'block'
              "
            >
              <fa-icon
                *ngIf="point.id === 'theme'"
                [icon]="['fas', 'swatchbook']"
              ></fa-icon>
              <fa-icon
                *ngIf="point.id === 'language'"
                [icon]="['fas', 'language']"
              ></fa-icon>
              <fa-icon
                *ngIf="point.id === 'sound-notification'"
                [icon]="['fas', 'bell']"
              ></fa-icon>
              <fa-icon
                *ngIf="point.id === 'prestart-delay'"
                [icon]="['fas', 'clock-rotate-left']"
              ></fa-icon>

              <fa-icon
                *ngIf="point.id === 'last-rest-removal'"
                [icon]="['fas', 'forward-step']"
              ></fa-icon>
              <fa-icon
                *ngIf="point.id === 'notify-before-seconds'"
                [icon]="['fas', 'stopwatch-20']"
              ></fa-icon>
              <fa-icon
                *ngIf="point.id === 'rest-timer-id'"
                [icon]="['fas', 'charging-station']"
              ></fa-icon>
              <span class="ml-2 font-bold">{{ point.label }}</span>
            </p>
            @switch (point.controlType) {
              @case ("select") {
                <select
                  *ngIf="isSelectInput(point)"
                  [formControlName]="point.id"
                >
                  @for (opt of point.options; track opt.value) {
                    <option [value]="opt.value">{{ opt.label }}</option>
                  }
                </select>
              }
              @case ("number") {
                <div class="flex max-w-20 flex-1 flex-col">
                  <input type="number" [formControlName]="point.id" />
                </div>
              }
              @case ("string") {
                <div
                  class="relative flex min-w-36 max-w-44 flex-1 flex-col justify-center"
                >
                  <input type="text" [formControlName]="point.id" />
                  @let control = settingsForm.get(point.id);
                  @if (control) {
                    <button
                      type="button"
                      (click)="control.setValue(point.getDefaultValue())"
                      class="absolute right-2 text-xl text-secondary"
                    >
                      <fa-icon [icon]="['fas', 'arrow-left-rotate']"></fa-icon>
                    </button>
                  }
                </div>
              }
              @case ("toggle") {
                <button type="button" (click)="toggle.click()" class="text-3xl">
                  <input
                    #toggle
                    class="hidden"
                    type="checkbox"
                    [formControlName]="point.id"
                  />
                  @if (point.value) {
                    <fa-icon [icon]="['fas', 'toggle-on']"></fa-icon>
                  } @else {
                    <fa-icon [icon]="['fas', 'toggle-off']"></fa-icon>
                  }
                </button>
              }
              @case ("custom") {
                @if (point.id === "notify-before-seconds") {
                  <ng-container
                    *ngTemplateOutlet="
                      timings;
                      context: {
                        config: notifyBeforeSecondsArray,
                        group: settingsForm,
                      }
                    "
                  ></ng-container>
                }
              }
            }
          </div>
        }
      </section>
    }
  </form>

  <div class="flex flex-col content-stretch justify-start">
    <div class="m-7 flex flex-col content-stretch justify-start">
      <h2 class="mb-3">{{ "Settings.PlaylisData" | translate }}</h2>
      <div class="flex items-center justify-between gap-3">
        <span class="text-on-surface-dim">{{
          "Settings.PlaylisDataLabel" | translate
        }}</span>
        <div class="flex items-center justify-end gap-3">
          <button
            type="button"
            (click)="export()"
            class="rounded-xl border-2 border-on-surface-dim bg-container p-2 px-3"
          >
            {{ "Settings.Export" | translate }}
            <fa-icon [icon]="['fas', 'file-arrow-down']"></fa-icon>
          </button>
          <button
            [formGroup]="settingsForm"
            type="button"
            (click)="this.importInput.click()"
            class="rounded-xl border-2 border-on-surface-dim bg-container p-2 px-3"
          >
            <input
              #importInput
              formControlName="fileInput"
              type="file"
              id="importFileInput"
              multiple
              accept="application/json"
              (change)="onImport($event)"
              style="display: none"
            />
            <fa-icon [icon]="['fas', 'file-arrow-up']"></fa-icon>

            {{ "Settings.Import" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="flex h-full flex-col items-center pt-7">
    <h1>{{ "Common.SomethingWentWrong" | translate }}</h1>
    <fa-icon [icon]="['fas', 'robot']" class="text-6xl"></fa-icon>
    <p class="mb-7">{{ "Common.TryAgain" | translate }}</p>
  </div>
}

<ng-template #timings let-config="config" let-group="group">
  <div [formGroup]="group" class="flex flex-grow justify-end pt-3">
    <div formArrayName="notify-before-seconds">
      @for (timing of config.controls; let idt = $index; track idt) {
        <!-- even though it's there is no group insede but only arrays - only [formGroup] works  -->
        <fieldset
          [formGroup]="timing"
          class="flex items-center justify-between gap-1"
        >
          @for (
            param of getInnerArray(timing).controls;
            let idp = $index;
            track idp
          ) {
            <div class="flex flex-col items-start justify-center">
          <span
            class="overflow-hidden text-ellipsis whitespace-nowrap max-w-24"
            [attr.title]="'Settings.BeforeEnd'|translate"
            *ngIf="idp === 0 && idt === 0">{{"Settings.BeforeEnd"|translate}}</span>
          <span
            class="overflow-hidden text-ellipsis whitespace-nowrap max-w-24"
            [attr.title]="'Settings.Duration'|translate"
            *ngIf="idp === 1 && idt === 0">{{"Settings.Duration"|translate}}</span>
          <span
            class="overflow-hidden text-ellipsis whitespace-nowrap max-w-24"
            [attr.title]="'Settings.Intensity'|translate"
            *ngIf="idp === 2 && idt === 0">{{"Settings.Intensity"|translate}}</span>
              <div class="flex items-center">
                <input
                  class="mr-4 w-20"
                  type="number"
                  [formControlName]="idp"
                />
                @if (config.controls.length > 1) {
                  <button
                    *ngIf="idp === 2"
                    type="button"
                    (click)="removeTimerset(idt)"
                    class="text-3xl"
                  >
                    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
                  </button>
                }
              </div>
            </div>
          }
        </fieldset>
      }
      <button
        *ngIf="config.length <= 2"
        type="button"
        (click)="addTimingBtn()"
        class="my-2 h-fit w-full border-2 border-secondary text-secondary"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>
